@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9gutl2');
  src:  url('fonts/icomoon.eot?9gutl2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9gutl2') format('truetype'),
    url('fonts/icomoon.woff?9gutl2') format('woff'),
    url('fonts/icomoon.svg?9gutl2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-droplet:before {
  content: "\e90b";
}
.icon-price-tag:before {
  content: "\e935";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-coin-dollar:before {
  content: "\e93b";
}
.icon-credit-card:before {
  content: "\e93f";
}
.icon-list2:before {
  content: "\e9bb";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
